.git
# .env # <--- REMOVE THIS LINE!
packages/*/node_modules/ 
packages/dashboard/.next/
packages/dashboard/dist/
*.log
tmp/
.vscode/
.git
.vscode
node_modules/
tmp/
logs/
.DS_Store
**/node_modules
**/dist